<div class="jumbotron">
    <div class="text center">
        <h1 class="display-5">Jonathan Fielder</h1>
        <h5>Software Developer</h5>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//www.linkedin.com/in/jonathanfielder/" target="_blank" >
            <img
                src="../../assets/logos/LI-In-Bug.png" 
                width="24" 
                height="24" 
                class="me-2 icon" 
                alt="LinkedIn Logo">

        </a>
        <a 
        href="//github.com/jonathanFielder" target="_blank">
            <img 
                src="../../assets/logos/github-mark.png" 
                width="24" 
                height="24" 
                class="me-2 icon" 
                alt="GitHub Logo">

        </a>
    </div>
    
</div>
