.jumbotron {
    padding: 2rem 1rem;
    background-color:aliceblue;
    text-align: center;
    position: relative;
}

.icon:hover {
    animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
