<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contact</h1>
        <p>Email me at 
            <b>
                <a class="words" href="mailto:jonathanfielder93@gmail.com">
                    jonathanfielder93@gmail.com
                </a>
            </b>
        </p>
        <p>Feel free to connect on the following platforms:</p>
    </div>

    <div class="list-group shadow">
        <a href="//www.linkedin.com/in/jonathanfielder/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/logos/LI-In-Bug.png" width="32" height="32" class="flex-shrink-0 me-5 icon" alt="LinkedIn Logo">
            <h3 class="mb-0 words">LinkedIn</h3>
        </a>
        <a href="//github.com/jonathanFielder" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/logos/github-mark.png" width="32" height="32" class="flex-shrink-0 me-5 icon" alt="GitHub Logo">
            <h3 class="mb-0 words">GitHub</h3>
        </a>
    </div>
</div>
