<div class="container text-center">
    <button (click)="DownloadResume()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">

            <div class="resumeLeft">
                <accordion-group heading="Education">
                        <h4>Bachelor's of Science in Computer Science, Minor in Mathematics</h4>
                        <h5 class="text-primary">Appalachian State University, <i>Boone, NC</i> - 3.84 GPA</h5>
                        <p>June 2022 - December 2024</p>
                        <ul>
                            <li>Graduated with High Honors</li>
                            <li>
                                Data Structures, Android Development, 
                                Neural Networks, Discrete Mathematics,
                                Client Side, Database, Systems,
                                Software Engineering
                            </li>
                        </ul>
                        <button (click)="DownloadTranscript()" class="btn btn-primary mb-5 shadow border">Download PDF Transcript</button>
                </accordion-group>

                <accordion-group heading="Work Experience">
                    <h4>IT Systems Modernization Intern</h4>
                    <h5 class="text-primary">Carpenter Technology, <i>Raleigh, NC</i></h5>
                    <p>June 2022 - December 2024</p>
                    <ul>
                        <li>
                            Developed and maintained automated solutions using RPA 
                            (Robotic Process Automation) to meet business needs, 
                            following Agile practices.
                        </li>
                        <li>
                            Researched the viability of AI for internal business 
                            requirements, including Document Understanding.
                        </li>
                        <li>
                            Leveraged <b>VB</b> and <b>C#</b> along with <b>UiPath</b>
                            and <b>Power Automate</b> to automate internal business logic.
                        </li>
                    </ul>
                    <hr>

                    <h4>Operations Manager</h4>
                    <h5 class="text-primary">Faith Xtreme, <i>Winter Haven, FL</i></h5>
                    <p>January 2018 - May 2020</p>
                    <ul>
                        <li>
                            Managed donation center and food pantry, including maintaining inventory 
                            and coordinating volunteers.
                        </li>
                        <li>
                            Oversaw operations of after-school programs attended by 80 students weekly, 
                            planning and preparing meals, transporting students, organizing and supervising activities, 
                            and communicating with parents.
                        </li>
                        <li>
                            Maintained grounds, vehicles, and equipment for two youth center campuses.
                        </li>
                    </ul>
                    <hr>

                    <h4>Audio Lead</h4>
                    <h5 class="text-primary">Skunkape Interactive, <i>Lakeland, FL</i></h5>
                    <p>February 2014 - December 2020</p>
                    <ul>
                        <li>
                            Co-founded video game studio Skunkape Interactive and published two games 
                            through the Steam digital store.
                        </li>
                        <li>
                            Designed and created sound effects and soundtracks for both releases.
                        </li>
                        <li>
                            Utilized <b>C#</b> to implement audio events in the Unity Engine and employed 
                            <b>Perforce</b> for version control.
                        </li>
                    </ul>
                    <br>
                </accordion-group>

                <accordion-group heading="Skills">
                    <section>
                        <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                            <div>
                                <h4>Languages</h4>
                                <ul>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>SQL</li>
                                    <li>Kotlin</li>
                                    <li>C++</li>
                                    <li>C</li>
                                    <li>C#</li>
                                    <li>HTML 5</li>
                                    <li>CSS</li>
                                    <li>Haskell</li>
                                    <li>X86 Assembly</li>
                                    <li>JavaScript</li>
                                    <li>TypeScript</li>
                                    <li>R</li>
                                    <li>Faust</li>
                                    <li>Max MSP</li>
                                </ul>
                            </div>
                            <div>
                                <h4>|</h4>
                            </div>
                            <div>
                                <h4>Frameworks and Libraries</h4>
                                <ul>
                                    <li>React Native</li>
                                    <li>Node.js</li>
                                    <li>BeautifulSoup</li>
                                    <li>NumPy</li>
                                    <li>Axios</li>
                                    <li>Expo</li>
                                    <li>HTMLSession</li>
                                    <li>Angular</li>
                                </ul>
                            </div>
                            <div>
                                <h4>|</h4>
                            </div>
                            <div>
                                <h4>Tools</h4>
                                <ul>
                                    <li>Maven</li>
                                    <li>Gradle</li>
                                    <li>Git</li>
                                    <li>Perforce</li>
                                    <li>Microsoft Suite</li>
                                    <li>UiPath</li>
                                    <li>SAP</li>
                                    <li>Power Automate</li>
                                    <li>Android Studio</li>
                                    <li>Linux</li>
                                    <li>Unix</li>
                                    <li>Windows</li>
                                    <li>TensorFlow</li>
                                    <li>Azure DevOps</li>
                                    <li>Postman</li>
                                    <li>Trello</li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    
        
                </accordion-group>
            </div>

        </accordion>
    </div>


</div>