<div class="container">
    <div class="row">
        <!--about me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/me_crop.jpg" alt="profile picture" width="30%" height="auto" class="rounded-circle">
                <p>
                    Graduated with high honors from <a href="https://www.appstate.edu/">Appalachian State University</a> 
                    with a Bachelor's in <b>Computer Science</b> and a minor in <b>Mathematics</b>. <br>
                    Specializes in <b>Python</b> and <b>Java</b>.
                    Gained hands-on experience developing <b>RPA</b> solutions during an internship at 
                    <a href="https://www.carpentertechnology.com/">Carpenter Technology</a>, 
                    using <b>UiPath</b> and <b>Microsoft Power Automate</b> while leveraging 
                    <b>Git</b> and <b>Azure</b> for version control.
                    Academic projects include building cross-platform applications with <b>React Native</b> and 
                    contributing to nonprofit organizations.
                    Co-founded the indie game studio, <a href="https://skunkdev.com/">Skunkape Interactive</a>.
                    Utilized <b>C#</b>, <b>Unity</b>, and <b>Perforce</b> to integrate audio events into the game engine.

                </p>
            </div>
        </div>
        <!--featured project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>